*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 8px;
    background-color: rgba(188, 34, 62, 0.8);
}
button{
    font-size: 1.5em;
    font-weight: bold;
}
.logo{
   display: flex;
   align-items: baseline;
}
.logo img{
    height: 50px;
    margin-right: 15px;
}
.prueba{
    color: rgb(75, 21, 201);
}
nav a:hover{
    color: blueviolet;
}
#hero{
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("https://cdn.donmai.us/original/ba/79/ba7981846a22ace4bd8777367b76c106.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
background-image: revert-layer;
background-image: unset;

 
